/* General Styles */
footer {
    background: url("../photos/12.jpg");
    color: #fff;
    padding: 40px 0;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

footer .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    width: 250px;
    margin: 10px 20px;
}

.column h5 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #000000;
    display: flex;
    align-items: center;
}

.column .right-arrow {
    display: none;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column ul li {
    margin-bottom: 10px;
}

.column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.column ul li a:hover {
    color: #ff4220;
}

.column
.app-stores {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.app-stores img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.qr-code img {
    width: 100px;
    height: 100px;
}

.app-play img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f39c12;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    color: #4b4b4b;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    footer {
        margin-top: 30px;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .column {
        width: 100%;
        margin: 10px 0;
    }

    .column ul {
        display: none;
    }

    .column .footer-header .right-arrow {
        display: inline;
        position: absolute;
        right: 10px;
        margin-top: 5px;
    }

    .footer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .app-stores {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .app-play img {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .column h5 {
        font-size: 16px;
    }

    .app-stores img {
        width: 80px;
        height: 80px;
    }

    .qr-code img {
        width: 80px;
        height: 80px;
    }

    .app-play img {
        width: 80px;
    }

    .social-icons {
        gap: 10px;
    }
}