body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  line-height: 1.6;
  background-color: #f8f9fa;
}

header {
  background: url("../photos/12.jpg");
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  flex-wrap: wrap;  
  margin-bottom: 20px;
}

.left-head1 a {
  text-decoration: none;
  color: #fc5a0f;
  font-weight: 600;
  font-size: 50px;
}

.mid-head1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.mid-head1 li {
  margin-left: 1.5rem;
}

.mid-head1 a {
  text-decoration: none;
  color: #070707;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.5s;
}

.mid-head1 a:hover {
  color: #fefeff;
  background-color: #ff562b;
}

.right-head1 {
  display: flex;
  align-items: center;
  gap: 1.5rem;  
}

.cart22-icon {
  position: relative;
}

.lov-cart {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease;
}

.lov-cart:hover {
  transform: scale(1.1);
}

.cart-quantity {
  position: absolute;
  top: -8px;
  right: 5px;
  background-color: #dc3545;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
  font-size: 0.6rem;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu-icon {
  width: 35px;
  height: 35px;
}

.hidden-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #292929;
  color: #d8d8d8;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  opacity: 0.8;
}

.hidden-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hidden-menu li {
  margin-bottom: 1rem;
  padding: 10px;
}

.hidden-menu a {
  text-decoration: none;
  color: #d3d3d3;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: block;
  padding: 10px;
}

.hidden-menu a:hover {
  color: #f4f5f7;
  background-color: #fd4f23;
}

/* Media Queries for 768px - 992px */
@media (min-width: 768px) and (max-width: 992px) {
  header {
    padding: 1rem;  
  }

  .left-head1 a {
    font-size: 30px;  
  }

  .mid-head1 ul {
    flex-wrap: wrap;  
    justify-content: center;  
  }

  .mid-head1 li {
    margin-left: 1rem; 
  }

  .mid-head1 a {
    padding: 0.5rem 0.8rem;
    font-weight: 500;
  }

  .right-head1 {
    gap: 1rem;  
    width: 30%;
  }


  .cart22-icon {
    margin-left: 0;  
  }

  .lov-cart {
    width: 30px;  
    height: 30px;
  }

  .hidden-menu {
    padding: 1rem;  
  }
}

/* Media Queries for screens smaller than 768px */
@media (max-width: 768px) {
  .mid-head1 {
    display: none;  
  }

  .menu {
    display: block;  
  }
  .left-head1 a {
    font-size: 20px;  
  }

  .right-head1 {
    flex: 1; 
    justify-content: flex-end;  
  }

  .searchBtn-cont1 {
    width: auto;  
    flex: 1;  
    margin-right: 0.5rem; 
  }

  .searchBtn1 {
    width: 100%;  
  }

  .cart22-icon {
    margin-right: 0.5rem; 
  }

  .hidden-menu.active {
    display: block; 
    margin-left: 1.5rem;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0.8rem;  
  }

  .left-head1 a {
    font-size: 18px;  
  }

  .searchBtn1 {
    padding: 0.5rem 0.8rem; 
    margin: 0 auto;
  }

  .hidden-menu {
    padding: 0.8rem;  
  }
}